@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

h1{
  font-family: 'Girassol', cursive;
  border: 1px dotted wheat;
  padding: 10px;
}


.App {
  text-align: center;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:100vh;
  padding:5%;
}
h3{
  margin:50px;
}

input {
  height:2.5rem;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 67%;
}
.form{
  display: flex;
  flex-direction: column;
}
